<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <div class="footer-brand">Bosch Car Service<br><strong>MWM Carmaster</strong></div>
      <p>ul. Krakowska 161, 25-705 Kielce</p>
      <p>
        <a href="tel:+48605101100">+48 605 101 100</a><br>
        <a href="tel:+48413452435">+48 41 345 24 35</a><br>
        <a href="#" class="js-email" data-user="carmaster" data-domain="bosch-service.pl" data-mail-link="true">carmaster [at] bosch-service.pl</a>
      </p>
    </div>
    <div>
      <h3>Nawigacja</h3>
      <ul class="footer-links">
        <li><a href="uslugi.html">Usługi</a></li>
        <li><a href="diagnostyka-i-naprawy.html">Diagnostyka i naprawy</a></li>
        <li><a href="przeglady-okresowe.html">Przeglądy okresowe</a></li>
        <li><a href="serwis-klimatyzacji.html">Serwis klimatyzacji</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
      </ul>
    </div>
    <div>
      <h3>Dokumenty</h3>
      <ul class="footer-links">
        <li><a href="polityka-prywatnosci.html">Polityka prywatności</a></li>
        <li><a href="#" id="cookie-settings-link">Ustawienia cookies</a></li>
      </ul>
    </div>
  </div>
</footer>
